@import "variables";

.main {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 50px 48px;
  width: 1024px;
  margin: 50px auto;
  padding: 0 40px;
  @media (min-width: 1199px) {
    width: 1200px;
    padding: 0 128px;
  }
}
