.price {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: baseline;
  font-size: $small-font-size;
  padding-bottom: 20px;
    
  &__cost {
    font-size: $huge-font-size;
    font-weight: bold;
    line-height: 19px;
    grid-column-end: none;
  }
}
